
SELECT * FROM [TABELA DE VENDEDORES]

SELECT * FROM [TABELA DE CLIENTES]


select TABELA_DE_VENDEDORES.BAIRRO AS BAIRRO_VENDEDOR, TABELA_DE_VENDEDORES.NOME AS NOME_VENDEDOR, 
TABELA_DE_CLIENTES.BAIRRO AS BAIRRO_CLIENTE, TABELA_DE_CLIENTES.NOME AS NOME_CLIENTE
FROM TABELA_DE_VENDEDORES INNER JOIN TABELA_DE_CLIENTES ON
TABELA_DE_VENDEDORES.BAIRRO = TABELA_DE_CLIENTES.BAIRRO

select TABELA_DE_VENDEDORES.BAIRRO AS BAIRRO_VENDEDOR, TABELA_DE_VENDEDORES.NOME AS NOME_VENDEDOR, 
TABELA_DE_CLIENTES.BAIRRO AS BAIRRO_CLIENTE, TABELA_DE_CLIENTES.NOME AS NOME_CLIENTE
FROM TABELA_DE_VENDEDORES LEFT JOIN TABELA_DE_CLIENTES ON
TABELA_DE_VENDEDORES.BAIRRO = TABELA_DE_CLIENTES.BAIRRO

select TABELA_DE_VENDEDORES.BAIRRO AS BAIRRO_VENDEDOR, TABELA_DE_VENDEDORES.NOME AS NOME_VENDEDOR, 
TABELA_DE_CLIENTES.BAIRRO AS BAIRRO_CLIENTE, TABELA_DE_CLIENTES.NOME AS NOME_CLIENTE
FROM TABELA_DE_VENDEDORES RIGHT JOIN TABELA_DE_CLIENTES ON
TABELA_DE_VENDEDORES.BAIRRO = TABELA_DE_CLIENTES.BAIRRO

select TABELA_DE_VENDEDORES.BAIRRO AS BAIRRO_VENDEDOR, TABELA_DE_VENDEDORES.NOME AS NOME_VENDEDOR, 
TABELA_DE_CLIENTES.BAIRRO AS BAIRRO_CLIENTE, TABELA_DE_CLIENTES.NOME AS NOME_CLIENTE
FROM TABELA_DE_VENDEDORES FULL JOIN TABELA_DE_CLIENTES ON
TABELA_DE_VENDEDORES.BAIRRO = TABELA_DE_CLIENTES.BAIRRO

SELECT [TABELA DE VENDEDORES].BAIRRO, [TABELA DE CLIENTES].BAIRRO FROM
[TABELA DE VENDEDORES] CROSS JOIN [TABELA DE CLIENTES] 